<div data-controller="animal-form">
  <%= form_with(model: animal, local: true) do |form| %>
    <% if animal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

        <ul>
          <% animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name%>
      <%= form.text_field :name, 'data-target' => "animal-form.name", 'data-action' => 'keyup->animal-form#countCharacters'  %>
      Characters: <span data-target='animal-form.counter'><%= animal.name.to_s.size %></span>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
